/* SWIPERCSS - START */
.scrollSwiper {
	--ssMaxWidth: var(--globalMaxWidth, 1005px);
	--ssPaddingBlock: var(--globalPaddingBlock, 15px);
  --ssPaddingInline: var(--globalPaddingInline, clamp(9px, 2vw, 15px));
	--ssGap: var(--globalPadding, clamp(9px, 2vw, 15px));
	--ssTilesMobile: 1.2;
	--ssProductTilesMobile: 2.4;
	--ssColor: var(--textColor);
	--ssButtonSize: 30px;
	--ssPaginationSize: 9px;
	--ssPaginationBottom: clamp(5px, 1vw, 9px);
	--ssButtonPrev: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='5.5 5 10 10'%3E%3Cpath d='M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z'/%3E%3C/svg%3E");
	--ssButtonNext: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='4.5 5 10 10' fill='currentColor'%3E%3Cpath d='M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z' /%3E%3C/svg%3E ");
	container-type: inline-size;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	margin-inline: auto;
	max-width: var(--ssMaxWidth);
}

/* HIDE SCROLLBARS - START */
.scrollSwiper .ss-slides::-webkit-scrollbar {
	display: none;
}
.scrollSwiper .ss-slides {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* HIDE SCROLLBARS - END */

.scrollSwiper .ss-slides {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding-block: var(--ssPaddingBlock);
  padding-inline: var(--ssPaddingInline);
	scroll-padding-left: var(--ssPaddingInline);
	scroll-margin-top: var(--ssPaddingInline); /* used in JS button nav */
	overflow: hidden;
	overflow-x: auto;
	scroll-behavior: smooth;
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content;
	gap: var(--ssGap);
	scroll-snap-type: x mandatory;
	/* HIDE 1px SHOWING AT EDGES OF ELEMENT - START 
      -webkit-mask-image: linear-gradient(to left, transparent 1px, black 1px, black calc(100% - 1px), transparent calc(100% - 1px));
      mask-image: linear-gradient(to left, transparent 1px, black 1px, black calc(100% - 1px), transparent calc(100% - 1px));
      mask-mode: alpha;
      /* HIDE 1px SHOWING AT EDGES OF ELEMENT - END */
}

.scrollSwiper .ss-slides > * {
	--ssTileMinWidth: calc((100cqi - var(--ssPaddingInline) - var(--ssGap)) / var(--ssTilesMobile));
	position: relative;
	margin: 0;
	overflow: hidden;
	object-fit: contain;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	width: var(--ssTileWidth, unset);
	max-width: var(--ssTileMinWidth, unset);
  box-sizing: border-box;
}
.scrollSwiper .ss-slides > *:empty {
	display: none;
}
.scrollSwiper:not(.ss-1tile.ss-fullwidth) .ss-slides > * {
	border-radius: var(--globalRadius);
}

/* SET TILE WIDTHS - START */
.scrollSwiper.ss-6tile .ss-slides > * {
	--ssTileWidth: calc((var(--ssMaxWidth) - (var(--ssPaddingInline) * 2) - (var(--ssGap) * 5)) / 6);
}
.scrollSwiper.ss-5tile .ss-slides > * {
	--ssTileWidth: calc((var(--ssMaxWidth) - (var(--ssPaddingInline) * 2) - (var(--ssGap) * 4)) / 5);
}
.scrollSwiper.ss-4tile .ss-slides > * {
	--ssTileWidth: calc((var(--ssMaxWidth) - (var(--ssPaddingInline) * 2) - (var(--ssGap) * 3)) / 4);
}
.scrollSwiper.ss-3tile .ss-slides > * {
	--ssTileWidth: calc((var(--ssMaxWidth) - (var(--ssPaddingInline) * 2) - (var(--ssGap) * 2)) / 3);
}
.scrollSwiper.ss-2tile .ss-slides > * {
	--ssTileWidth: calc((var(--ssMaxWidth) - (var(--ssPaddingInline) * 2) - (var(--ssGap) * 1)) / 2);
}
.scrollSwiper.ss-1tile .ss-slides > * {
	--ssTileWidth: calc(100cqi - (var(--ssPaddingInline) * 2));
	--ssTileMinWidth: unset;
}
.scrollSwiper.ss-producttiles .ss-slides > * {
	--ssTileMinWidth: calc((100cqi - var(--ssPaddingInline) - var(--ssGap)) / var(--ssProductTilesMobile));
	min-width: var(--globalProductTileMinWidth);
}
/* SET TILE WIDTHS - END */

/* FREE SCROLLING ON TOUCH DEVICES - START */
@media (any-hover: none) {
	.scrollSwiper .ss-slides {
		scroll-snap-type: unset;
	}
	.scrollSwiper .ss-slides > * {
		scroll-snap-align: unset;
		scroll-snap-stop: unset;
	}
}
/* FREE SCROLLING ON TOUCH DEVICES - END */

/* BUTTONS - START */
.scrollSwiper .ss-prev,
.scrollSwiper .ss-next {
	all: unset;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition-property: opacity;
	transition-duration: 150ms;
	display: block;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	cursor: pointer;
	box-sizing: border-box;
	width: var(--ssButtonSize);
	height: var(--ssButtonSize);
	padding: calc(var(--ssButtonSize) / 3);
	box-shadow: inset 0 0 0 1.6px var(--ssColor);
	border-radius: 100%;
	background-color: var(--bgColor);
	color: var(--ssColor);
}
.scrollSwiper .ss-prev:hover,
.scrollSwiper .ss-next:hover {
	background-color: var(--btnHover);
	color: currentColor;
}
.scrollSwiper .ss-prev {
	left: 0%;
}
.scrollSwiper .ss-next {
	right: 0%;
}
.scrollSwiper .ss-prev::before,
.scrollSwiper .ss-next::before {
	content: "";
	display: block;
	width: calc(var(--ssButtonSize) - (var(--ssButtonSize) / 1.5));
	height: calc(var(--ssButtonSize) - (var(--ssButtonSize) / 1.5));
	background-color: currentColor;
}
.scrollSwiper .ss-prev::before {
	-webkit-mask-image: var(--ssButtonPrev);
	mask-image: var(--ssButtonPrev);
}
.scrollSwiper .ss-next::before {
	-webkit-mask-image: var(--ssButtonNext);
	mask-image: var(--ssButtonNext);
}
.scrollSwiper:not(.ss-wrap) .ss-prev.ss-visible,
.scrollSwiper:not(.ss-wrap) .ss-next.ss-visible,
.scrollSwiper.ss-loop:not(.ss-wrap) .ss-prev,
.scrollSwiper.ss-loop:not(.ss-wrap) .ss-next {
	opacity: 1 !important;
	pointer-events: auto;
}
/* HIDE BUTTONS & SHOW SCROLL HINT ON TOUCH ONLY DEVICES */
@media (any-hover: none) {
	.scrollSwiper:not(.ss-mobilebuttons, .ss-wrap) .ss-prev,
	.scrollSwiper:not(.ss-mobilebuttons, .ss-wrap) .ss-next {
		display: none;
	}

	.scrollSwiper.ss-scrollhint:not(.ss-mobilebuttons, .ss-wrap)::before {
		content: "";
		display: block;
		width: calc(var(--ssPaddingInline) * 6);
		height: var(--ssPaddingInline);
		-webkit-mask-image: var(--ssButtonPrev);
		mask-image: var(--ssButtonPrev);
		background: linear-gradient(to right, transparent 33.3%, currentColor 50%, transparent 66.6%);
		background-size: 300%;
		position: absolute;
		top: calc(var(--ssPaddingBlock) * -0);
		right: 0;
		opacity: 1;
		animation: scroll-hint 3.5s linear infinite;
	}
	@keyframes scroll-hint {
		0% {
			background-position: 0% 0%;
		}
		20%,
		100% {
			background-position: 100% 0%;
		}
	}
}
/* BUTTONS - END */

/* WRAP TILES - START */
.scrollSwiper.ss-wrap .ss-slides {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
/* WRAP TILES - END */

/* TOP BUTTONS - START */
.scrollSwiper.ss-topbuttons:not(.ss-wrap) .ss-prev,
.scrollSwiper.ss-topbuttons:not(.ss-wrap) .ss-next {
	opacity: 0.15;
	right: var(--ssPaddingInline);
	top: calc(var(--ssPaddingBlock) * 0.25);
	transform: translateY(-100%);
}
.scrollSwiper.ss-topbuttons:not(.ss-wrap) .ss-prev {
	left: unset;
	right: calc(var(--ssPaddingInline) + var(--ssButtonSize) + 5px);
}
/* TOP BUTTONS - END */

/* FULLWIDTH - START */
.scrollSwiper.ss-fullwidth {
	max-width: unset;
}
.scrollSwiper.ss-1tile.ss-fullwidth {
	--ssPaddingInline: 0px;
	--ssGap: 0px;
	max-width: unset;
}
.scrollSwiper.ss-fullwidth:not(.ss-1tile) .ss-slides {
	padding-inline: calc((100cqi - min(100cqi, var(--ssMaxWidth))) / 2 + var(--ssPaddingInline));
	scroll-padding-left: calc((100cqi - min(100cqi, var(--ssMaxWidth))) / 2 + var(--ssPaddingInline));
}
.scrollSwiper.ss-fullwidth.ss-topbuttons:not(.ss-1tile) .ss-prev,
.scrollSwiper.ss-fullwidth.ss-topbuttons:not(.ss-1tile) .ss-next {
	margin-right: calc((100cqi - min(100cqi, var(--ssMaxWidth))) / 2);
}
@media (any-hover: none) {
	.scrollSwiper.ss-fullwidth.ss-scrollhint:not(.ss-1tile, .ss-mobilebuttons, .ss-wrap)::before {
		right: calc((100cqi - min(100cqi, var(--ssMaxWidth))) / 2);
	}
}
.scrollSwiper.ss-1tile .ss-slides {
	scroll-snap-type: x mandatory;
}
.scrollSwiper.ss-1tile .ss-slides > * {

	scroll-snap-align: start;
	scroll-snap-stop: always;
}
.scrollSwiper.ss-fullwidth.ss-1tile .ss-slides > * {
  border-radius: 0;
}
/* PAGINATION - START */
.scrollSwiper.ss-1tile.ss-pagination {
	transform: translateZ(0);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *::after {
	pointer-events: none;
	content: "";
	display: block;
	position: fixed;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	bottom: calc(var(--ssPaginationBottom) + var(--ssPaddingBlock));
	height: var(--ssPaginationSize);
	width: calc(var(--ssPaginationSize) * 2);
	background-image: radial-gradient(ellipse at center, transparent calc(50% - 1px), white 50%, transparent calc(50% + 1px));
	background-size: var(--ssPaginationSize);
	background-repeat: repeat-x;
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2))::before {
	background-image: radial-gradient(ellipse at center, transparent calc(50% - 1px), white 50%, transparent calc(50% + 1px)), linear-gradient(to left, rgb(0 0 0 / 20%), rgb(0 0 0 / 20%));
	box-shadow: 0 0 0 calc(var(--ssPaginationSize) * 0.3) rgb(0 0 0 / 20%);
	border-radius: var(--ssPaginationSize);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *::after {
	position: absolute;
	bottom: var(--ssPaginationBottom);
	width: calc(var(--ssPaginationSize) * 2);
	background-image: radial-gradient(ellipse at center, white 0%, white 50%, transparent calc(50% + 1px));
	background-repeat: no-repeat;
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(2))::after {
	background-position: var(--ssPaginationSize);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(3))::after {
	background-position: calc(var(--ssPaginationSize) * 2);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(4))::after {
	background-position: calc(var(--ssPaginationSize) * 3);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(5))::after {
	background-position: calc(var(--ssPaginationSize) * 4);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(6))::after {
	background-position: calc(var(--ssPaginationSize) * 5);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(7))::after {
	background-position: calc(var(--ssPaginationSize) * 6);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(8))::after {
	background-position: calc(var(--ssPaginationSize) * 7);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(9))::after {
	background-position: calc(var(--ssPaginationSize) * 8);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(2)) > *:is(:nth-child(10))::after {
	background-position: calc(var(--ssPaginationSize) * 9);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(3))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(3)) > *::after {
	width: calc(var(--ssPaginationSize) * 3);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(4))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(4)) > *::after {
	width: calc(var(--ssPaginationSize) * 4);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(5))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(5)) > *::after {
	width: calc(var(--ssPaginationSize) * 5);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(6))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(6)) > *::after {
	width: calc(var(--ssPaginationSize) * 6);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(7))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(7)) > *::after {
	width: calc(var(--ssPaginationSize) * 7);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(8))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(8)) > *::after {
	width: calc(var(--ssPaginationSize) * 8);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(9))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(9)) > *::after {
	width: calc(var(--ssPaginationSize) * 9);
}
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(10))::before,
.scrollSwiper.ss-1tile.ss-pagination .ss-slides:has(> *:nth-child(10)) > *::after {
	width: calc(var(--ssPaginationSize) * 10);
}
/* PAGINATION - END */
/* FULLWIDTH - END */
/* SWIPERCSS - END */
