/* GENERAL CSS - START */

:root {
  --bgColor: white;
  --textColor: black;
  --btnColor: #f2f2f2;
  --btnHover: #e5e5e5;
  --globalMaxWidth: 1005px;
	--globalPaddingBlock: 15px;
  --globalPaddingInline: clamp(9px, 2vw, 15px);
	--globalRadius: 7px;
	--globalProductTileMinWidth: 150px;
}

body {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
	color: var(--textColor);
}

/* FONT */
body,
body * {
	font-family: Inter, sans-serif;
	font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
h1 {
	font-size: 2rem;
  margin-block-end: -0.21em;
	font-weight: 900;
}

.cont {
	box-sizing: border-box;
	max-width: var(--globalMaxWidth);
	margin-inline: auto;
	padding-inline: var(--globalPaddingInline);
	margin-top: 1rem;
  padding-inline-end: calc(2 * var(--globalPaddingInline) + 2 * var(--ssButtonSize, 30px) + 5px);
}

img {
	width: 100%;
	height: 100%;
}

.btn {
  display: grid;
  place-items: center;
	color: var(--textColor);
	background: var(--btnColor);
	border-radius: var(--globalRadius);
	border: none;
	padding: 7px 10px;
	font-weight: 500;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
  text-align: center;
}
.btn:hover {
	background: var(--btnHover);
}

div.btn {
  min-height: min(200px, 20vh);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
    :root {
    --bgColor: black;
    --textColor: white;
    --btnColor: #272727;
    --btnHover: #3f3f3f;
    }
}

/* GENERAL CSS - END */